
body {
    background-color: lightcyan;
}

form {
    background: lightblue;
    padding: 30px;
    margin-top: 50px;
    border-radius: 10px;
}

input {
    width: 50%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px, solid black;
    border-radius: 5px;
    box-sizing: border-box;
    background: lightseagreen;
    font-weight: bold;
}
